.box.light .input .shadow {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 6px 6px hsl(0, 0%, 100%);
}

.box.light .input.find {
  background-color: hsla(100, 0%, 90%, 1);
}
.box.light .input.find.match {
  background-color: hsla(100, 40%, 90%, 1);
}
.box.light .input.find.fail {
  background-color: hsla(0, 40%, 90%, 1);
}

.box.light .input input,
.box.light .input input:focus {
  color: hsl(0, 0%, 15%);
  background-color: rgba(0, 0, 0, 0);
}

.box.light .input .glass .host {
  color: hsl(0, 0%, 20%);
}
.box.light .input .glass .path {
  color: hsl(0, 0%, 40%);
}
.box.light .input .glass .hash {
  color: hsl(0, 0%, 40%);
}
