.box.dark .input.find {
  background-color: hsla(100, 0%, 90%, 1);
}
.box.dark .input.find.match {
  background-color: hsla(100, 40%, 90%, 1);
}
.box.dark .input.find.fail {
  background-color: hsla(0, 40%, 90%, 1);
}

.box.dark .input input,
.box.dark .input input:focus {
  color: hsl(0, 0%, 95%);
  background-color: rgba(0, 0, 0, 0);
}

