.box.dark .ssl {
  color: hsl(0, 0%, 15%);
}

.box.dark .input .shadow {
  background-color: hsl(0, 0%, 10%);
  box-shadow: 0px 0px 6px 6px hsl(0, 0%, 10%);
}

.box.dark .input.find {
  background-color: hsla(100, 0%, 90%, 1);
}
.box.dark .input.find.match {
  background-color: hsla(100, 40%, 90%, 1);
}
.box.dark .input.find.fail {
  background-color: hsla(0, 40%, 90%, 1);
}

.box.dark .input input,
.box.dark .input input:focus {
  color: hsl(0, 0%, 95%);
  background-color: rgba(0, 0, 0, 0);
}

.box.dark .input .glass .host {
  color: hsl(0, 0%, 80%);
}
.box.dark .input .glass .path {
  color: hsl(0, 0%, 60%);
}
.box.dark .input .glass .hash {
  color: hsl(0, 0%, 60%);
}
