.box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.box .ssl {
  position: absolute;
  top: 0;
  left: 7px;
  bottom: 0;

  margin: auto;
  width: 12px;
  height: 14px;

  font-size: 1.2em;
}

.box.ssl_auth .ssl {
  color: hsl(110, 80%, 45%) !important;
}

.box.focus .ssl {
  display: none;
}

.box .search {
  display: none;

  position: absolute;
  top: 0;
  left: 7px;
  bottom: 0;

  margin: auto;
  width: 12px;
  height: 14px;

  font-size: 1.2em;
}

.box.focus .search {
  display: block;
}

.box.find_in_page .search {
  color: hsl(200, 80%, 45%) !important;
}

.box .input .shadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  z-index: 10;
}

.box .input,
.box .input:focus {
  position: absolute;
  top: 0;
  left: 25px;
  right: 0;
  bottom: 0;
}

.box .input.find {
}
.box .input.find.match {
}
.box .input.find.fail {
}

.box .input form {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.box .input form input,
.box .input form input:focus {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: none !important;
  border: 0;
  padding: 0;
  font-weight: normal;
  width: 100%;
}

.box .input form input {
  opacity: 0;
}

.box.focus .input form input,
.box .input:hover form input {
  opacity: 1;
  font-weight: bold;
  line-height: 34px;
  -webkit-font-smoothing: antialiased !important;
}


.box .input .glass {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  line-height: 34px;

  border: 0;
  z-index: 2;
  white-space: nowrap;
}

.box .input .glass span {
  display: inline-block;
}

.box .input .glass .host {
  font-weight: bold;
}

.box .input .glass .path {
  font-weight: bold;
  opacity: 0.5;
}

.box .input:hover .glass,
.box.focus .input .glass {
  display: none;
}
