.box {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;

  background-color: hsl(200, 0%, 100%);
}

.box .input,
.box .input:focus {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 1px;

  line-height: 20px;
  background-color: hsl(0, 0%, 98%);
  border: 0;
  border-bottom: 1px solid hsl(0, 0%, 90%);
  border-radius: 2px;
  width: 100%;
}

.box .input.find {
  background-color: hsla(100, 0%, 90%, 1);
}

.box .input.find.match {
  background-color: hsla(100, 40%, 90%, 1);
}
.box .input.find.fail {
  background-color: hsla(0, 40%, 90%, 1);
}

.box .input form {
  position: absolute;
  top: 0;
  left: 5px;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.box .input input,
.box .input input:focus {
  width: 100%;
  height: 100%;
  outline: none !important;
  color: hsl(200, 0%, 40%);
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}

.box .input .underlay {
  position: absolute;
  top: 0;
  left: 5px;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.box .input .underlay .value {
  line-height: 20px;
  opacity: 0;
}


.box .input .underlay .title {
  position: relative;
  top: 5px;
  color: hsl(200, 0%, 70%);
  margin-left: 10px;
  line-height: 20px;
}


