.strip {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 0;

  overflow: hidden;

  background-color: hsl(0, 0%, 18%);
  /*
  background-color: #212834;
  background-image: url('/assets/bg.jpg');
  background-size: cover;
  */
  border-bottom: 1px solid hsl(0, 0%, 4%);
}

.strip .command {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 30px;

  cursor: pointer;
  color: hsl(0, 0%, 70%);
  text-shadow: 0px 0px 1px hsl(0, 0%, 10%);
}

.strip .command .icon {
  display: inline-block;
  margin-top: 18px;
  margin-left: 10px;
  font-size: 0.9em;
}

.strip .command.prev {
  left: 0px;
}
.strip .command.prev:hover {
  color: hsl(200, 50%, 50%);
}

.strip .command.next {
  left: 30px;
}
.strip .command.next:hover {
  color: hsl(200, 50%, 50%);
}

.strip .command.new {
  left: 400px;
}
.strip .command.new:hover {
  color: hsl(100, 50%, 50%);
}


.strip .box {
  position: absolute;

  top: 0;
  bottom: 0;
  left: 60px;
  width: 340px;

  overflow: hidden;

  background-color: hsl(0, 0%, 14%);
  border-left: 1px solid hsl(0, 0%, 20%);
  border-right: 1px solid hsl(0, 0%, 20%);
}

.strip .wrapper {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 435px;
  right: 0px;
  padding: 0;
}

.strip .tabs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  padding: 0;
}

.strip .tabs .tab {
  position: absolute;
  max-width: 170px;
  min-width: 170px;
  top: 0px;
  bottom: 0px;

  overflow: hidden;

  color: white;
  cursor: pointer;
  transition: left 0.2s;
  /*box-shadow:inset 0px 0px 1px rgba(155, 155, 155, 0.6);*/
}

.strip .tabs .tab.active {
  /* background-color: rgba(155, 155, 155, 0.1); */
}

.strip .tabs .tab > div.border-left {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 0px;
  width: 1px;

  background-color: hsl(0, 0%, 28%);
}

.strip .tabs .tab > div.border-bottom {
  position: absolute;
  bottom: 0px;
  height: 2px;
  left: 0px;
  right: 0px;

  background-color: hsl(0, 0%, 35%);
}

.strip .tabs .tab > div.border-right {
  position: absolute;
  top: 15px;
  bottom: 15px;
  right: 0px;
  width: 1px;

  box-shadow: 0px 0px 6px 6px hsl(0, 0%, 18%);

  background-color: hsl(0, 0%, 18%);
  z-index: 2;
}
.strip .tabs .tab:hover > div.border-right {
  visibility: hidden;
}

.strip .tabs .tab > div.close-tab {
  position: absolute;
  top: 15px;
  bottom: 15px;
  right: 0px;
  width: 25px;

  box-shadow: 0px 0px 6px 6px hsl(0, 0%, 18%);

  visibility: hidden;
  background-color: hsl(0, 0%, 18%);
  z-index: 2;

  font-size: 0.8em;
  cursor: pointer;
  text-shadow: 0px 0px 1px hsl(0, 0%, 10%);
  color: hsl(0, 0%, 40%);
}
.strip .tabs .tab:hover > div.close-tab {
  visibility: visible;
}
.strip .tabs .tab > div.close-tab:hover {
  color: hsl(0, 50%, 50%);
}
.strip .tabs .tab > div.close-tab > div {
  margin-top: 4px;
  margin-left: 5px;
}

.strip .tabs .tab > div.favicon {
  display: inline-block;
  vertical-align: top;

  height: 20px;
  width: 20px;

  margin-top: 5px;
  margin-right: 5px;

  border-radius: 3px;
  background-size: cover;
}


.strip .tabs .tab > div.content {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 30px;
  right: 0px;

  vertical-align: top;
  display: inline-block;
  overflow: hidden;
}

.strip .tabs .tab > div.content .title {
  margin-top: 17px;
  color: hsl(0, 0%, 70%);
  font-weight: normal;
}

.strip .tabs .tab.active > div.content .title {
  color: hsl(0, 0%, 100%);
}


