.strip.light {
  background-color: hsl(0, 0%, 97%);
}

.strip.light .bottom {
  background-color: hsl(0, 0%, 85%);
}

.strip.light .command {
  color: hsl(0, 0%, 30%);
}

.strip.light .box {
  background-color: hsl(0, 0%, 100%);
  border-bottom: 4px solid hsl(0, 0%, 85%);
  border-top: 5px solid hsl(0, 0%, 100%);
}

.strip.light .tabs .tab {
  color: hsl(0, 0%, 20%);
}

.strip.light .tabs .tab > div.separator {
  background-color: hsl(0, 0%, 54%);
  width: 0px;
}

.strip.light .tabs .tab > div.loading {
  background-color: hsl(0, 0%, 85%);
}

.strip.light .tabs .tab.active > div.loading {
  background-color: hsl(0, 0%, 65%);
}

.strip.light .tabs .tab > div.content .shadow {
  box-shadow: inset -6px 0px 6px hsl(0, 0%, 97%);
}

.strip.light .tabs .tab > div.content .title {
  color: hsl(0, 0%, 10%);
  font-weight: normal !important;
}
.strip.light .tabs .tab.active > div.content .title {
  color: hsl(0, 0%, 10%);
}

.strip.light .tabs .tab > div.close {
  color: hsl(0, 0%, 30%);
}

