.strip {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  padding: 0;

  overflow: hidden;

  background-color: hsl(0, 0%, 19%);
}

.strip .bottom {
  position: absolute;
  bottom: 0;
  height: 5px;
  left: 0;
  right: 0;
  background-color: hsl(0, 0%, 0%);
}

.strip .command {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 28px;

  cursor: pointer;
  color: hsl(0, 0%, 70%);
  text-align: center;
  -webkit-font-smoothing: antialiased !important;
}

.strip .command .icon {
  display: inline-block;
  margin-top: 17px;
  font-size: 0.9em;
}

.strip .command.back {
  left: 0px;
}
.strip .command.back:hover {
  color: hsl(200, 50%, 50%);
}

.strip .command.forward {
  left: 28px;
}
.strip .command.forward:hover {
  color: hsl(200, 50%, 50%);
}

.strip .command.new {
  left: 396px;
}
.strip .command.new:hover {
  color: hsl(100, 50%, 50%);
}


.strip .box {
  position: absolute;

  top: 0px;
  bottom: 0px;
  left: 56px;
  width: 340px;

  overflow: hidden;

  background-color: hsl(0, 0%, 10%);
  border-bottom: 5px solid hsl(0, 0%, 0%);
  border-top: 5px solid hsl(0, 0%, 10%);
}

.strip .box iframe {
  width: 100%;
  height: 100%;
}

.strip .wrapper {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 424px;
  right: 0px;
  padding: 0;
}

.strip .tabs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  padding: 0;
}

.strip .tabs .tab {
  position: absolute;
  max-width: 170px;
  min-width: 170px;
  top: 0px;
  bottom: 0px;

  overflow: hidden;

  color: white;
  cursor: pointer;
  transition: left 0.2s;
}

.strip .tabs .tab > div.separator {
  position: absolute;
  top: 8px;
  bottom: 12px;
  left: 0px;
  width: 1px;

  background-color: hsl(0, 0%, 34%);
}

.strip .tabs .tab > div.border-bottom {
  position: absolute;
  bottom: 0px;
  height: 5px;
  left: 0px;
  right: 0px;

  z-index: 100;
  background-color: hsl(0, 0%, 0%);
}

.strip .tabs .tab.active > div.border-bottom {
  background-color: hsl(0, 0%, 35%);
}

.strip .tabs .tab > div.favicon {
  position: absolute;
  display: none;
  vertical-align: top;

  top: 14px;
  left: 7px;
  height: 18px;
  width: 18px;

  border-radius: 3px;
  background-size: cover;

  -webkit-filter: grayscale(1);
  opacity: 0.8;
}

.strip .tabs .tab.active > div.favicon {
  -webkit-filter: grayscale(0);
  opacity: 1.0;
}



.strip .tabs .tab > div.content {
  position: absolute;
  display: block;
  left: 7px;
  right: 5px;
  top: 2px;
  bottom: 5px;
  vertical-align: top;

  overflow: hidden;
}

.strip .tabs .tab > div.content.with-favicon {
  left: 32px;
}
.strip .tabs .tab:hover > div.content {
  right: 25px;
}

.strip .tabs .tab > div.content .shadow {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  -webkit-box-shadow: inset -6px 0px 6px hsl(0, 0%, 19%);
}

.strip .tabs .tab > div.content .title {
  margin-top: 14px;
  color: hsl(0, 0%, 70%);
  font-weight: normal;
  white-space: nowrap;
  z-index: 5;
}

.strip .tabs .tab.active > div.content .title {
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}

.strip .tabs .tab > div.close {
  display:none;
  position: absolute;
  top: 15px;
  bottom: 15px;
  right: 0px;
  width: 25px;

  font-size: 0.8em;
  cursor: pointer;
  color: hsl(0, 0%, 40%);
}
.strip .tabs .tab:hover > div.close {
  display: block;
}
.strip .tabs .tab > div.close:hover {
  color: hsl(0, 50%, 50%);
}
.strip .tabs .tab > div.close > div {
  margin-top: 3px;
  margin-left: 5px;
}

