.strip {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  padding: 0;

  overflow: hidden;
  -webkit-user-select: none;
}

.strip .bottom {
  position: absolute;
  bottom: 0;
  height: 4px;
  left: 0;
  right: 0;
}

.strip .command {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2.5%;

  cursor: pointer;
  text-align: center;
  -webkit-font-smoothing: antialiased !important;
}

.strip .command .icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 4px;

  display: inline-block;
  margin: auto;
  width: 1rem;
  height: 1rem;

  font-size: 0.9em;
  text-align: center;
}
.strip .command .fa-icon {
  display: inline-block;
  margin-top: 15px;
  font-size: 1.2em;
}

.strip .command.back {
  left: 0;
}
.strip .command.back:hover {
  color: hsl(200, 50%, 50%);
}
.strip .command.back.disabled {
  color: hsl(0, 0%, 80%) !important;
}

.strip .command.forward {
  left: 2.5%;
}
.strip .command.forward:hover {
  color: hsl(200, 50%, 50%);
}
.strip .command.forward.disabled {
  color: hsl(0, 0%, 80%) !important;
}

.strip .command.new {
  left: 35%;
}
.strip .command.new:hover {
  color: hsl(100, 50%, 50%);
}

.strip .command.update {
  display: none;
  right: 0px;
}
.strip.breach_update .command.update {
  color: hsl(0, 100%, 50%);
  display: block;
}
.strip.module_update .command.update {
  color: hsl(20, 100%, 50%);
  display: block;
}
.strip .command.update:hover {
  color: hsl(20, 0%, 50%);
}

.strip .box {
  position: absolute;

  top: 0;
  bottom: 0;
  left: 5%;
  width: 30%;

  overflow: hidden;
}

.strip .box iframe {
  width: 100%;
  height: 100%;
}

.strip .wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 37.5%;
  right: 0;
  padding: 0;


  overflow: hidden;
}

.strip.breach_update .wrapper,
.strip.module_update .wrapper {
  right: 28px;
}

.strip .tabs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
}

.strip .tabs .tab {
  position: absolute;
  max-width: 140px;
  min-width: 140px;
  top: 0;
  bottom: 0;

  overflow: hidden;

  cursor: pointer;
  transition: left 0.1s;

  line-height: 36px;
}

.strip .tabs .tab > div.back-loading {
  position: absolute;
  bottom: 0;
  height: 4px;
  left: 0;
  right: 0;

  z-index: 100;
  background-color: hsl(0, 0%, 85%);
}

.strip .tabs .tab > div.loading {
  position: absolute;
  bottom: 0;
  height: 4px;
  left: 0;
  right: 0;

  z-index: 100;
  opacity: 0;
}

.strip .tabs .tab:hover > div.loading {
  opacity: 0.7;
}

.strip .tabs .tab.active > div.loading {
  opacity: 1.0;
}

.strip .tabs .tab > div.favicon {
  position: absolute;
  display: none;
  vertical-align: top;

  top: 0;
  bottom: 4px;
  left: 7px;

  margin: auto;
  height: 18px;
  width: 18px;

  background-size: cover;

  /* -webkit-filter: grayscale(0.5); */
  opacity: 0.3;
}

.strip .tabs .tab.active > div.favicon {
  /* -webkit-filter: grayscale(0); */
  opacity: 1.0;
}

.strip .tabs .tab > div.content {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding-left: 10px;
  padding-right: 10px;

  overflow: hidden;

  transition: padding 150ms;
}

.strip .tabs .tab > div.content.with-favicon {
  padding-left: 32px;
}
.strip .tabs .tab:hover > div.content {
  padding-right: 25px;
}
.strip .tabs .tab:hover > div.content .shadow {
  right: 25px;
}

.strip .tabs .tab > div.content .shadow {
  position: absolute;
  top: 0;
  right: 0px;
  bottom: 0;
  z-index: 10;

  width: 6px;
  
  transition: right 150ms;
}

.strip .tabs .tab > div.content .title {
  display: block;
  font-weight: normal;
  white-space: nowrap;
  z-index: 5;

  overflow: hidden;
  text-overflow: ellipsis;
}

.strip .tabs .tab.active > div.content .title {
  font-weight: bold;
}

.strip .tabs .tab > div.close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0px;

  margin: auto;
  width: 25px;

  font-size: 0.8em;
  cursor: pointer;

  opacity: 0;

  transition: opacity 150ms;
}
.strip .tabs .tab:hover > div.close {
  opacity: 1;
  transition-delay: 75ms;
}
.strip .tabs .tab > div.close:hover {
  color: hsl(0, 50%, 50%) !important;
}
.strip .tabs .tab > div.close > div {
  padding-bottom: 4px;
  width: 25px;
  height: 31px;
  line-height: 35px;
  text-align: center;
}

